.dish{
  width: 100%;
  height: 60px;
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 5px;

  &__img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }

  &__name{
    font-size: 18px;
  }

  &__price{
    font-weight: bold;
    font-size: 20px;
    color: red;
  }
}

