.header{
  width: 100%;
  height: 60px;
  color: white;
  background-color: blue;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  align-items: center;

  &__link{
    margin-right: 20px;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    color: white;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    text-decoration: none;

    &_active{
      border-bottom: 3px solid red;
    }
  }
}
