<div class="header">
  <a  class="header__link" routerLink="menu" routerLinkActive="header__link_active">Меню</a>
  <a  class="header__link" [class.header__link_active]="isChanelsActive" (click)="redirectToChanels()">Каналы</a>
  <span  class="header__link" routerLink="about" routerLinkActive="header__link_active">About</span>
</div>
