<div class="order">
  <h3>Заказ</h3>
  <div class="order__item" *ngFor="let item of order" (click)="deleteItem(item)">
    <span class="order-name">{{item.name}}</span>
    <span class="order-price">{{item.price}}</span>
    <div class="order-close" (click)="deleteItem($event)">x</div>
  </div>
  <hr>
  <div class="order__item">
    Итого: <span class="summ">{{ summ }}</span>
  </div>
</div>
