<div class="wrapper">
  <div class="modal">
    <img [src]="dish.picture" [alt]="dish.name" class="modal__img">
    <span class="modal__description">{{dish.discription}}</span>

    <div class="close" (click)="closeMoadal()">X</div>
  </div>
</div>
