<div class="content">
  <div class="menu">
    <app-dish *ngFor="let item of dishes" [item]="item" (selectEvent)="onSelect($event)" (dblEvent)="showDicription($event)"></app-dish>
  </div>

  <app-order *ngIf="isHaveOrder" [order]="order"  (deleteEvent)="onDeleteItem($event)"></app-order>
</div>

<app-modal *ngIf="isShowModal" [dish]="modalData" (closeModal)="onCloseModal()"></app-modal>
